@import url("https://fonts.googleapis.com/css?family=Fira+Sans:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic");

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::before,
*::after {
  -moz-box-sizing: border-box;
  -webkit-border-sizing: border-box;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  background: #F4F4F4;
}

.title {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
}

.btn {
  background: #4737FF;
  padding: 17px 25px;
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #F4F4F4;
  line-height: 24px;
  letter-spacing: 4px;
  text-transform: uppercase;
  border-radius: 20px;
}

.btn:active {
  -webkit-transform: scale(95%);
      -ms-transform: scale(95%);
          transform: scale(95%);
  -webkit-box-shadow: 10px 10px 10px #222222;
          box-shadow: 10px 10px 10px #222222;
}

.btn:hover {
  -webkit-box-shadow: 10px 10px 10px #222222;
          box-shadow: 10px 10px 10px #222222;
}

.wrapper {
  max-width: 1300px;
  padding: 0 50px;
  margin: 0 auto;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 140px;
}

.header__logo {
  height: 23px;
  width: 74px;
}

.header__logo:hover {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
  cursor: pointer;
}

.header__search {
  width: 20px;
  height: 18px;
}

.header__search:hover {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
  cursor: pointer;
}

.header__menu {
  position: relative;
  height: 14px;
  width: 34px;
  cursor: pointer;
}

.header__menu::before {
  content: "";
  height: 3px;
  width: 34px;
  display: block;
  position: absolute;
  left: 0;
  top: -10px;
  background: #222222;
}

.header__menu::after {
  content: "";
  height: 3px;
  width: 18px;
  display: block;
  position: absolute;
  background: #222222;
  left: 15px;
  bottom: 0px;
}

.block1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 130px;
}

.block1__column {
  width: 50%;
}

.block1__column_img {
  position: relative;
  height: 840px;
}

.block1__column_img img {
  position: absolute;
  top: 0;
  left: 0;
}

.block1__wrapper {
  width: 474px;
}

.block1__title {
  font-family: Fira Sans;
  font-size: 60px;
  font-weight: 700;
  line-height: 70px;
  letter-spacing: -1px;
  text-align: left;
}

.block1__subtitle {
  padding: 30px 0 56px 0;
  font-family: Fira Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  opacity: 0.7;
}

.block2 {
  margin-bottom: 131px;
  width: 1109px;
  height: 564px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.block2__collumn {
  width: 50%;
  padding-left: 94px;
}

.block2__collumn_img {
  height: 564px;
  width: 475px;
}

.block2__title {
  width: 540px;
  height: 97px;
  font-family: "Fira Sans";
  font-weight: 600;
  font-size: 40px;
  line-height: 50px;
  letter-spacing: -1px;
}

.block2__subtitle1 {
  padding-top: 30px;
  width: 444px;
  height: 81px;
  font-family: "Fira Sans";
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  opacity: 0.7;
}

.block2__subtitle2 {
  padding-top: 40px;
  font-family: "Fira Sans";
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  opacity: 0.7;
}

.block2__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 67px;
}

.block2__ava {
  margin-right: 31px;
  width: 65px;
  height: 65px;
}

.block2__name {
  width: 189px;
  height: 26px;
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 32px;
  padding-bottom: 6px;
}

.block2__prof {
  width: 189px;
  height: 21px;
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  opacity: 0.7;
}

.block3 {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.block3__title {
  width: 539px;
  font-family: "Fira Sans";
  font-weight: 600;
  font-size: 40px;
  line-height: 50px;
}

.block3__collumn2 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.block3__text a:hover {
  color: red;
}

.block3__text li {
  margin: 21px;
  font-family: "Fira Sans";
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  opacity: 0.5;
}

.block3__text li a {
  color: #000000;
}

.main-bigimg {
  margin-top: 130px;
  margin-bottom: 131px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-bigimg img {
  width: 100%;
}

.title {
  font-family: "Fira Sans";
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  width: 160px;
  height: 20px;
  letter-spacing: 4px;
  text-transform: uppercase;
  opacity: 0.7;
}

.block4 {
  margin-top: 40px;
}

.block4__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.block4__title {
  width: 539px;
  height: 48px;
  width: 539px;
  height: 48px;
  font-family: "Fira Sans";
  font-weight: 600;
  font-size: 40px;
  line-height: 50px;
  letter-spacing: -1px;
}

.block4 a:hover {
  color: red;
  -webkit-transform: scale(115%) translateY(-40px);
      -ms-transform: scale(115%) translateY(-40px);
          transform: scale(115%) translateY(-40px);
}

.block4 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Fira Sans";
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 4px;
  text-transform: uppercase;
  opacity: 0.3;
}

.block4 ul li {
  margin-right: 24px;
}

.block4 ul li:last-child {
  margin-right: 0;
}

.block4__galery {
  margin: 108px 0 22px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.block4__galery img {
  margin-bottom: 30px;
  width: 350px;
  height: 450px;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}

.block4__galery img:hover {
  -webkit-transform: scale(115%) translateY(-40px);
      -ms-transform: scale(115%) translateY(-40px);
          transform: scale(115%) translateY(-40px);
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  -webkit-box-shadow: 15px 15px 15px black;
          box-shadow: 15px 15px 15px black;
}

.block4__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.block4__subtitle {
  max-width: 730px;
  font-family: "Fira Sans";
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  opacity: 0.7;
}